<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">
				Articles
			</li>
			<% @articles.each do |article| %>
			<li <% if request.fullpath == '/articles/'+ article.id.to_s %>class="active"<% end %>>
				<%= link_to article.title, article %>
			</li>
			<% end %>
		</ul>
	</div><!--/.well -->
</div><!--/span-->
<div class="span9">
	<div class="row">